@media (max-width: 1024px) {
  .main-header {
    height: 100vh !important;
    padding: 0 !important;

    flex-direction: column;
    justify-content: flex-start !important;

    background-color: rgba(0, 0, 0, 0.8) !important;
  }

  .main-header-search-container {
    flex-grow: 0 !important;
  }

  .main-header nav {
    flex-grow: 0 !important;
    height: auto;
  }

  .main-header nav ul {
    margin: 40px 0;
    flex-direction: column;
  }

  .main-header nav ul li {
    margin: 0;
    justify-content: center;
  }

  .main-header nav ul li a {
    padding: 20px 0;
  }
}
